* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}

/* User registration form style */
.singup {
  display: flex;
  flex-direction: row;
  background-color: #efe9e9;
  height: 550px;
  width: 100%;
  box-shadow: 0px 0px 10px 10px rgb(212, 212, 212);
}

.form-group {
  display: flex;
}

.singup .section-a {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
  flex-direction: column;
  align-items: center; /* Center the form horizontally */
}

/* sectin section-b is the input field sections*/
.input-fields {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-fields input {
  border-radius: 5px;
  font-family: "Open sans", sans-serif;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .container .userRegistrationForm {
    width: 50%;
  }

  .input-fields input {
    width: 100%; /* Use full width for inputs on larger screens */
    max-width: 300px; /* Limit the maximum width of inputs */
    min-width: 5px;
  }
}
.section-b {
  margin-left: 70px;
  margin-top: 60px;
  width: 580px;
  text-align: left;
}
.checkbox-field {
  display: flex;
  flex-direction: column;
}
.check {
  margin-bottom: 5px;
  padding-left: 30px;
}
.check label {
  margin-left: 10px;
}
.section-c img {
  width: 357px;
  margin-left: 10px;
  margin-top: 0px;
}
.term {
  margin-top: 40px;
  margin-left: 20px;
}
.signupbtn {
  padding: 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 120px;
}
.error {
  color: red;
}
.already {
  margin-top: 20px;
  margin-left: -20px;
}
